plantillas/Crear contratos.json
{
    "name": "Crear contratos",
    "flow": [
        {
            "id": 2,
            "module": "airtable:TriggerWatchRecords",
            "version": 3,
            "parameters": {
                "base": "appYdkptPnve2hS3R",
                "view": "",
                "table": "tblsn1vZvEL9U4bZZ",
                "config": {
                    "labelField": "ID",
                    "triggerField": "Fin"
                },
                "formula": "",
                "maxRecords": 10,
                "__IMTCONN__": 3059356,
                "useColumnId": false
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "base": {
                            "label": "Contrato Traid"
                        },
                        "view": {
                            "label": "Empty"
                        },
                        "table": {
                            "label": "Table 1"
                        },
                        "config": {
                            "nested": {
                                "labelField": {
                                    "label": "ID"
                                },
                                "triggerField": {
                                    "label": "Fin"
                                }
                            }
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "ahora si (User ID: usrmHuf5xfnSU75z7)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "config",
                        "spec": [
                            {
                                "name": "triggerField",
                                "type": "select",
                                "label": "Trigger field",
                                "required": true
                            },
                            {
                                "name": "triggerField",
                                "type": "hidden"
                            },
                            {
                                "name": "labelField",
                                "type": "select",
                                "label": "Label field",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Trigger configuration"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "ID",
                        "type": "number",
                        "label": "ID"
                    },
                    {
                        "name": "Nombre",
                        "type": "text",
                        "label": "Nombre",
                        "multiline": true
                    },
                    {
                        "name": "Email",
                        "type": "text",
                        "label": "Email",
                        "multiline": true
                    },
                    {
                        "name": "Direccion",
                        "type": "text",
                        "label": "Direccion",
                        "multiline": true
                    },
                    {
                        "name": "Servicio",
                        "type": "array",
                        "label": "Servicio",
                        "dynamic": true,
                        "editable": true
                    },
                    {
                        "name": "Precio",
                        "type": "number",
                        "label": "Precio"
                    },
                    {
                        "name": "inicio",
                        "type": "date",
                        "label": "inicio"
                    },
                    {
                        "name": "Fin",
                        "type": "date",
                        "label": "Fin"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "pandadoc:createAContact",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3593462
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{2.Enviar}}",
                            "b": "true",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "email": "{{2.Email}}",
                "title": "Cliente",
                "address": {},
                "last_name": "{{2.Nombre}}",
                "first_name": "{{2.Nombre}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "pandadoc"
                            },
                            "label": "My PandaDoc connection (traid.bussiness@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:pandadoc",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "first_name",
                        "type": "text",
                        "label": "First name",
                        "required": true
                    },
                    {
                        "name": "last_name",
                        "type": "text",
                        "label": "Last name",
                        "required": true
                    },
                    {
                        "name": "email",
                        "type": "email",
                        "label": "Email",
                        "required": true
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "company",
                        "type": "text",
                        "label": "Company"
                    },
                    {
                        "name": "phone",
                        "type": "text",
                        "label": "Phone"
                    },
                    {
                        "name": "address",
                        "spec": [
                            {
                                "name": "street_address",
                                "type": "text",
                                "label": "Street address"
                            },
                            {
                                "name": "city",
                                "type": "text",
                                "label": "City"
                            },
                            {
                                "name": "postal_code",
                                "type": "text",
                                "label": "Postal code"
                            },
                            {
                                "name": "state",
                                "type": "text",
                                "label": "State"
                            },
                            {
                                "name": "country",
                                "type": "text",
                                "label": "Country"
                            }
                        ],
                        "type": "collection",
                        "label": "Address"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "pandadoc:createADocuments",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3593462
            },
            "mapper": {
                "name": "Contrato {{2.Nombre}}",
                "send": true,
                "fields": {},
                "tokens": {
                    "fecha": "{{formatDate(now; \"DD/MM/YYYY\")}}",
                    "Nombre": "{{2.Nombre}}",
                    "precio": "{{2.Precio}}",
                    "Dirección": "{{2.Direccion}}",
                    "Client.Email": "{{2.Email}}",
                    "Email_cliente": "{{2.Email}}"
                },
                "message": "Contrato {{2.Nombre}}",
                "subject": "Contrato",
                "template": "gm9AMtA8XSQNWoFAgYByTG",
                "recipients": [
                    {
                        "email": "{{2.Email}}",
                        "first_name": "{{2.Nombre}}"
                    }
                ],
                "folder_uuid": "/"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "tags": {
                            "mode": "chose"
                        },
                        "images": {
                            "mode": "chose"
                        },
                        "metadata": {
                            "mode": "chose"
                        },
                        "template": {
                            "mode": "chose",
                            "label": "Contrato make"
                        },
                        "recipients": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "folder_uuid": {
                            "mode": "chose"
                        },
                        "content_placeholders": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "pandadoc"
                            },
                            "label": "My PandaDoc connection (traid.bussiness@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:pandadoc",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Document Name",
                        "required": true
                    },
                    {
                        "name": "template",
                        "type": "select",
                        "label": "Template ID",
                        "required": true
                    },
                    {
                        "name": "send",
                        "type": "boolean",
                        "label": "Send a document",
                        "required": true
                    },
                    {
                        "name": "folder_uuid",
                        "type": "folder",
                        "label": "Folder"
                    },
                    {
                        "name": "tags",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Tag"
                        },
                        "type": "array",
                        "label": "Tags"
                    },
                    {
                        "name": "images",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Image Block Name",
                                "required": true
                            },
                            {
                                "name": "urls",
                                "type": "url",
                                "label": "Image URL",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Images"
                    },
                    {
                        "name": "metadata",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Document Metadata"
                    },
                    {
                        "name": "content_placeholders",
                        "spec": [
                            {
                                "name": "block_id",
                                "type": "select",
                                "label": "Block ID",
                                "dynamic": true,
                                "options": [],
                                "required": true
                            },
                            {
                                "name": "content_library_items",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "select",
                                        "label": "Content Library Item ID",
                                        "dynamic": true,
                                        "options": {
                                            "store": []
                                        },
                                        "required": true
                                    }
                                ],
                                "type": "array",
                                "label": "Content Library Items",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Content Placeholders"
                    },
                    {
                        "name": "tokens",
                        "spec": [
                            {
                                "name": "Client.Email",
                                "type": "email",
                                "label": "Role: Client Email",
                                "metadata": {
                                    "role": "Client"
                                }
                            },
                            {
                                "name": "Dirección",
                                "type": "text",
                                "label": "Token: Direcci ón"
                            },
                            {
                                "name": "Email_cliente",
                                "type": "text",
                                "label": "Token: Email _cliente"
                            },
                            {
                                "name": "Nombre",
                                "type": "text",
                                "label": "Token: Nombre "
                            },
                            {
                                "name": "fecha",
                                "type": "text",
                                "label": "Token: Fecha "
                            },
                            {
                                "name": "precio",
                                "type": "text",
                                "label": "Token: Precio "
                            }
                        ],
                        "type": "collection",
                        "label": "Tokens"
                    },
                    {
                        "name": "fields",
                        "spec": [
                            {
                                "name": "Text",
                                "type": "text",
                                "label": "Client Text"
                            }
                        ],
                        "type": "collection",
                        "label": "Fields"
                    },
                    {
                        "name": "recipients",
                        "spec": [
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email",
                                "required": true
                            },
                            {
                                "name": "first_name",
                                "type": "text",
                                "label": "First name"
                            },
                            {
                                "name": "last_name",
                                "type": "text",
                                "label": "Last name"
                            }
                        ],
                        "type": "array",
                        "label": "CC Recipients"
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject",
                        "required": true
                    },
                    {
                        "name": "message",
                        "type": "text",
                        "label": "Message",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "google-docs:createADocumentFromTemplate",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3054103
            },
            "mapper": {
                "name": "Contrato para {{2.Nombre}}",
                "select": "map",
                "document": "1LNLxkfqkVEkxiQEUNGiZYVJCvC85HycE7hTl99Dq2h0",
                "folderId": "/19CQUODVoxd1fNtf3gmx2GqHQ5I9zAMzY",
                "requests": [
                    {
                        "text": "Email_cliente",
                        "replaceText": "{{2.Email}}"
                    },
                    {
                        "text": "Nombre",
                        "replaceText": "{{2.Nombre}}"
                    },
                    {
                        "text": "Dirección",
                        "replaceText": "{{2.Direccion}}"
                    },
                    {
                        "text": "precio",
                        "replaceText": "{{2.Precio}}"
                    },
                    {
                        "text": "dias",
                        "replaceText": "{{formatDate(now; \"DD\")}}"
                    },
                    {
                        "text": "mes",
                        "replaceText": "{{switch(formatDate(now; \"MMMM\"); \"January\"; \"Enero\"; \"February\"; \"Febrero\"; \"March\"; \"Marzo\"; \"April\"; \"Abril\"; \"May\"; \"Mayo\"; \"June\"; \"Junio\"; \"July\"; \"Julio\"; \"August\"; \"Agosto\"; \"September\"; \"Septiembre\"; \"October\"; \"Octubre\"; \"November\"; \"Noviembre\"; \"December\"; \"Diciembre\")}}"
                    },
                    {
                        "text": "año",
                        "replaceText": "{{formatDate(now; \"YYYY\")}}"
                    }
                ],
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "By Mapping"
                        },
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "make"
                            ]
                        },
                        "requests": {
                            "mode": "chose",
                            "items": [
                                null,
                                null,
                                null,
                                null,
                                null,
                                null,
                                null
                            ]
                        },
                        "destination": {
                            "label": "My Drive"
                        },
                        "imageReplacement": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "nacholeo (nacholeo005@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Create a Document from a Template",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "dropdown"
                            ]
                        }
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Title",
                        "required": true
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "New Drive Location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "document",
                        "type": "text",
                        "label": "Document ID",
                        "required": true
                    },
                    {
                        "name": "requests",
                        "spec": [
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Tags",
                                "required": true
                            },
                            {
                                "name": "replaceText",
                                "type": "text",
                                "label": "Replaced Value"
                            }
                        ],
                        "type": "array",
                        "label": "Values"
                    },
                    {
                        "name": "imageReplacement",
                        "spec": [
                            {
                                "name": "imageObjectId",
                                "type": "text",
                                "label": "Image Object ID",
                                "required": true
                            },
                            {
                                "name": "url",
                                "type": "text",
                                "label": "Image URL",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Images Replacement"
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Document's Location",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "airtable:ActionUpdateRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 3059356
            },
            "mapper": {
                "id": "{{2.id}}",
                "base": "appYdkptPnve2hS3R",
                "table": "tblsn1vZvEL9U4bZZ",
                "record": {
                    "fld3Vt4XTtjVS2p3j": "{{5.id}}",
                    "fldXcUHGemX22FsxY": "Enviado"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "Contrato Traid"
                        },
                        "table": {
                            "label": "Table 1"
                        },
                        "record": {
                            "nested": {
                                "fld6LV1VfWmeEWMY3": {
                                    "mode": "chose"
                                },
                                "fldDHsbA9Nk06vSwk": {
                                    "mode": "chose"
                                },
                                "fldVK1yXyt8nfZ84o": {
                                    "mode": "chose"
                                },
                                "fldXcUHGemX22FsxY": {
                                    "mode": "edit"
                                },
                                "fldpVYQAhpMiE6cH2": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "ahora si (User ID: usrmHuf5xfnSU75z7)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldc07USg8GUkkJx1",
                                "type": "text",
                                "label": "Nombre"
                            },
                            {
                                "name": "fldcPYhqU3BpTKXE9",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "fldxdhuBpJ5Q2e64x",
                                "type": "text",
                                "label": "Direccion"
                            },
                            {
                                "name": "fldVK1yXyt8nfZ84o",
                                "spec": {
                                    "mode": "edit",
                                    "name": "value",
                                    "type": "select",
                                    "label": "Value",
                                    "dynamic": true,
                                    "options": [
                                        {
                                            "label": "Chatbot",
                                            "value": "Chatbot"
                                        },
                                        {
                                            "label": "Automatizaciones",
                                            "value": "Automatizaciones"
                                        },
                                        {
                                            "label": "Las dos",
                                            "value": "Las dos"
                                        }
                                    ],
                                    "validate": false
                                },
                                "type": "array",
                                "label": "Servicio"
                            },
                            {
                                "name": "fld5pp7HyZhwgIPAP",
                                "type": "number",
                                "label": "Precio"
                            },
                            {
                                "name": "fld6LV1VfWmeEWMY3",
                                "type": "boolean",
                                "label": "Enviar"
                            },
                            {
                                "mode": "edit",
                                "name": "fldXcUHGemX22FsxY",
                                "type": "select",
                                "label": "Estado"
                            },
                            {
                                "name": "fldDHsbA9Nk06vSwk",
                                "type": "boolean",
                                "label": "carpeta creado"
                            },
                            {
                                "name": "fldpVYQAhpMiE6cH2",
                                "type": "boolean",
                                "label": "Archivos enviados"
                            },
                            {
                                "name": "fldwGIBFmYNjsbbiW",
                                "type": "text",
                                "label": "Url carpeta google drive"
                            },
                            {
                                "name": "fld3Vt4XTtjVS2p3j",
                                "type": "text",
                                "label": "Id contrato pandadoc"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "ID",
                        "type": "number",
                        "label": "ID"
                    },
                    {
                        "name": "Nombre",
                        "type": "text",
                        "label": "Nombre",
                        "multiline": true
                    },
                    {
                        "name": "Email",
                        "type": "text",
                        "label": "Email",
                        "multiline": true
                    },
                    {
                        "name": "Direccion",
                        "type": "text",
                        "label": "Direccion",
                        "multiline": true
                    },
                    {
                        "name": "Servicio",
                        "type": "array",
                        "label": "Servicio",
                        "dynamic": true,
                        "editable": true
                    },
                    {
                        "name": "Precio",
                        "type": "number",
                        "label": "Precio"
                    },
                    {
                        "name": "inicio",
                        "type": "date",
                        "label": "inicio"
                    },
                    {
                        "name": "Fin",
                        "type": "date",
                        "label": "Fin"
                    },
                    {
                        "name": "Enviar",
                        "type": "boolean",
                        "label": "Enviar"
                    },
                    {
                        "name": "Estado",
                        "type": "text",
                        "label": "Estado"
                    },
                    {
                        "name": "carpeta creado",
                        "type": "boolean",
                        "label": "carpeta creado"
                    },
                    {
                        "name": "Archivos enviados",
                        "type": "boolean",
                        "label": "Archivos enviados"
                    },
                    {
                        "name": "Url carpeta google drive",
                        "type": "text",
                        "label": "Url carpeta google drive"
                    },
                    {
                        "name": "Id contrato pandadoc",
                        "type": "text",
                        "label": "Id contrato pandadoc",
                        "multiline": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [],
            "notes": [
                {
                    "id": 4,
                    "text": "",
                    "filter": false
                }
            ]
        },
        "zone": "us1.make.com"
    }
}