plantillas/Crear evento nuevo en google calendar.json
{
    "name": "Integración Google Calendar Voiceflow",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1551931,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Airtable"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "fechaCita",
                        "type": "text"
                    },
                    {
                        "name": "Correo",
                        "type": "text"
                    },
                    {
                        "name": "nombre",
                        "type": "text"
                    },
                    {
                        "name": "horario",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 3059356
            },
            "mapper": {
                "base": "appvVP1yZHWZPNJV9",
                "table": "tblq2QLc7qh0yAxFU",
                "record": {
                    "fldRsY9QQtTHSThDd": "Disponible",
                    "fldj4tDEiLVSsg2ae": "{{1.nombre}}",
                    "fldnFmT5Wfw0lSNV6": "{{1.horario}}",
                    "fldpLD40Mfr6vFySB": "{{1.Correo}}",
                    "fldsHf8ZLeZLvSl4c": "{{1.fechaCita}}",
                    "fldtwxGjEcQVKz4qM": {}
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 330,
                    "y": 158
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "Prueba"
                        },
                        "table": {
                            "label": "Table 1",
                            "nested": [
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fldj4tDEiLVSsg2ae",
                                            "type": "text",
                                            "label": "Nombre"
                                        },
                                        {
                                            "name": "fldsHf8ZLeZLvSl4c",
                                            "type": "text",
                                            "label": "Fecha"
                                        },
                                        {
                                            "name": "fldnFmT5Wfw0lSNV6",
                                            "type": "text",
                                            "label": "horario"
                                        },
                                        {
                                            "name": "fldRsY9QQtTHSThDd",
                                            "type": "text",
                                            "label": "Disponibilidad"
                                        },
                                        {
                                            "name": "fldpLD40Mfr6vFySB",
                                            "type": "text",
                                            "label": "Email"
                                        },
                                        {
                                            "name": "fldxd8GVl6nmIvMx1",
                                            "type": "text",
                                            "label": "telefono"
                                        },
                                        {
                                            "name": "fldtwxGjEcQVKz4qM",
                                            "spec": [
                                                {
                                                    "help": "Unique user id",
                                                    "name": "id",
                                                    "type": "text",
                                                    "label": "ID"
                                                },
                                                {
                                                    "help": "User's email address",
                                                    "name": "email",
                                                    "type": "email",
                                                    "label": "Email"
                                                },
                                                {
                                                    "help": "User's display name (may be empty if the user hasn't created an account)",
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "id"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ]
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "ahora si (User ID: usrmHuf5xfnSU75z7)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldj4tDEiLVSsg2ae",
                                "type": "text",
                                "label": "Nombre"
                            },
                            {
                                "name": "fldsHf8ZLeZLvSl4c",
                                "type": "text",
                                "label": "Fecha"
                            },
                            {
                                "name": "fldnFmT5Wfw0lSNV6",
                                "type": "text",
                                "label": "horario"
                            },
                            {
                                "name": "fldRsY9QQtTHSThDd",
                                "type": "text",
                                "label": "Disponibilidad"
                            },
                            {
                                "name": "fldpLD40Mfr6vFySB",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "fldxd8GVl6nmIvMx1",
                                "type": "text",
                                "label": "telefono"
                            },
                            {
                                "name": "fldtwxGjEcQVKz4qM",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "email",
                                        "type": "email",
                                        "label": "Email"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    }
                                ],
                                "type": "collection",
                                "label": "id"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Nombre",
                        "type": "text",
                        "label": "Nombre"
                    },
                    {
                        "name": "Fecha",
                        "type": "text",
                        "label": "Fecha"
                    },
                    {
                        "name": "horario",
                        "type": "text",
                        "label": "horario"
                    },
                    {
                        "name": "Disponibilidad",
                        "type": "text",
                        "label": "Disponibilidad"
                    },
                    {
                        "name": "Email",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "telefono",
                        "type": "text",
                        "label": "telefono"
                    },
                    {
                        "name": "id",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "collection",
                        "label": "id"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "google-calendar:createAnEvent",
            "version": 5,
            "parameters": {
                "__IMTCONN__": 3054103
            },
            "mapper": {
                "end": "{{1.fechaCitaFinal}}",
                "start": "{{1.fechaCita}}",
                "select": "detail",
                "colorId": 4,
                "summary": "Cita con {{1.nombre}}",
                "calendar": "nacholeo005@gmail.com",
                "visibility": "default",
                "allDayEvent": false,
                "description": "{{1.celular}}",
                "transparency": "opaque",
                "conferenceDate": false,
                "guestsCanModify": false
            },
            "metadata": {
                "designer": {
                    "x": 647,
                    "y": 156
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "In Detail"
                        },
                        "colorId": {
                            "mode": "chose",
                            "label": "#ff887c (#1d1d1d)"
                        },
                        "calendar": {
                            "mode": "chose",
                            "label": "nacholeo005@gmail.com (Primary Calendar)"
                        },
                        "attendees": {
                            "mode": "chose"
                        },
                        "overrides": {
                            "mode": "chose"
                        },
                        "recurrence": {
                            "mode": "chose"
                        },
                        "visibility": {
                            "mode": "chose",
                            "label": "Default"
                        },
                        "allDayEvent": {
                            "mode": "chose"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "sendUpdates": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "transparency": {
                            "mode": "chose",
                            "label": "Busy"
                        },
                        "conferenceDate": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "nacholeo (nacholeo005@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Create an Event",
                        "required": true,
                        "validate": {
                            "enum": [
                                "quick",
                                "detail"
                            ]
                        }
                    },
                    {
                        "name": "calendar",
                        "type": "select",
                        "label": "Calendar ID",
                        "required": true
                    },
                    {
                        "name": "colorId",
                        "type": "select",
                        "label": "Color"
                    },
                    {
                        "name": "summary",
                        "type": "text",
                        "label": "Event Name",
                        "required": true
                    },
                    {
                        "name": "allDayEvent",
                        "type": "boolean",
                        "label": "All Day Event",
                        "required": true
                    },
                    {
                        "name": "start",
                        "time": true,
                        "type": "date",
                        "label": "Start Date",
                        "required": true
                    },
                    {
                        "name": "end",
                        "time": true,
                        "type": "date",
                        "label": "End Date"
                    },
                    {
                        "name": "duration",
                        "type": "time",
                        "label": "Duration"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "location",
                        "type": "text",
                        "label": "Location"
                    },
                    {
                        "name": "useDefault",
                        "type": "boolean",
                        "label": "Use the default reminder settings for this event"
                    },
                    {
                        "name": "overrides",
                        "spec": [
                            {
                                "name": "method",
                                "type": "select",
                                "label": "Method",
                                "options": [
                                    {
                                        "label": "Email",
                                        "value": "email"
                                    },
                                    {
                                        "label": "Pop-up",
                                        "value": "popup"
                                    }
                                ],
                                "required": true
                            },
                            {
                                "name": "minutes",
                                "type": "uinteger",
                                "label": "Minutes",
                                "required": true,
                                "validate": {
                                    "max": 40320
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Reminders",
                        "validate": {
                            "maxItems": 5
                        }
                    },
                    {
                        "name": "attendees",
                        "spec": [
                            {
                                "name": "displayName",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Attendees"
                    },
                    {
                        "name": "transparency",
                        "type": "select",
                        "label": "Show me as",
                        "required": true,
                        "validate": {
                            "enum": [
                                "opaque",
                                "transparent"
                            ]
                        }
                    },
                    {
                        "name": "visibility",
                        "type": "select",
                        "label": "Visibility",
                        "required": true,
                        "validate": {
                            "enum": [
                                "default",
                                "public",
                                "private"
                            ]
                        }
                    },
                    {
                        "name": "sendUpdates",
                        "type": "select",
                        "label": "Send notifications about the event creation",
                        "validate": {
                            "enum": [
                                "all",
                                "externalOnly",
                                "none"
                            ]
                        }
                    },
                    {
                        "name": "guestsCanModify",
                        "type": "boolean",
                        "label": "Guests can modify the event",
                        "required": true
                    },
                    {
                        "name": "recurrence",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Value"
                        },
                        "type": "array",
                        "label": "Recurrence"
                    },
                    {
                        "name": "conferenceDate",
                        "type": "boolean",
                        "label": "Add Google Meet Video Conferencing",
                        "required": true
                    },
                    {
                        "name": "attachments",
                        "spec": [
                            {
                                "name": "fileUrl",
                                "type": "url",
                                "label": "File URL",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Attachments"
                    }
                ],
                "advanced": true
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}