plantillas/Facturas-2.json
{
    "name": "Facturas",
    "flow": [
        {
            "id": 16,
            "module": "airtable:TriggerWatchRecords",
            "version": 3,
            "parameters": {
                "base": "appg0talxeZaUwZyJ",
                "view": "",
                "table": "tblP0XIBwOLwY0H4L",
                "config": {
                    "labelField": "ID",
                    "triggerField": "fin"
                },
                "formula": "",
                "maxRecords": 10,
                "__IMTCONN__": 3059356,
                "useColumnId": false
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "base": {
                            "label": "Facturas1"
                        },
                        "view": {
                            "label": "Empty"
                        },
                        "table": {
                            "label": "Table 1"
                        },
                        "config": {
                            "nested": {
                                "labelField": {
                                    "label": "ID"
                                },
                                "triggerField": {
                                    "label": "fin"
                                }
                            }
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "ahora si (User ID: usrmHuf5xfnSU75z7)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "config",
                        "spec": [
                            {
                                "name": "triggerField",
                                "type": "select",
                                "label": "Trigger field",
                                "required": true
                            },
                            {
                                "name": "triggerField",
                                "type": "hidden"
                            },
                            {
                                "name": "labelField",
                                "type": "select",
                                "label": "Label field",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Trigger configuration"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "ID",
                        "type": "number",
                        "label": "ID"
                    },
                    {
                        "name": "Cliente",
                        "type": "text",
                        "label": "Cliente",
                        "multiline": true
                    },
                    {
                        "name": "Factura",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Factura"
                    },
                    {
                        "name": "Cantidad",
                        "type": "number",
                        "label": "Cantidad"
                    },
                    {
                        "name": "Fecha",
                        "time": false,
                        "type": "date",
                        "label": "Fecha"
                    },
                    {
                        "name": "Mes",
                        "type": "text",
                        "label": "Mes"
                    },
                    {
                        "name": "Tipo",
                        "type": "text",
                        "label": "Tipo"
                    },
                    {
                        "name": "creado",
                        "type": "date",
                        "label": "creado"
                    },
                    {
                        "name": "fin",
                        "type": "date",
                        "label": "fin"
                    }
                ]
            }
        },
        {
            "id": 17,
            "module": "http:ActionGetFile",
            "version": 3,
            "parameters": {
                "handleErrors": false
            },
            "mapper": {
                "url": "{{16.Factura[].url}}",
                "method": "get",
                "serializeUrl": false,
                "shareCookies": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "hidden",
                        "label": "Method"
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "google-drive:uploadAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 3552743
            },
            "mapper": {
                "data": "{{17.data}}",
                "select": "value",
                "convert": true,
                "filename": "{{17.fileName}}",
                "folderId": "/19CQUODVoxd1fNtf3gmx2GqHQ5I9zAMzY",
                "targetType": "application/vnd.google-apps.document",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Select from the list"
                        },
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "make"
                            ]
                        },
                        "targetType": {
                            "label": "application/vnd.google-apps.document"
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "07/10 (nacholeo005@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a Folder ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "value"
                            ]
                        }
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "New File Name"
                    },
                    {
                        "name": "filename",
                        "type": "text",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "convert",
                        "type": "boolean",
                        "label": "Convert a File",
                        "required": true
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "New Drive Location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Folder Location",
                        "required": true
                    },
                    {
                        "name": "targetType",
                        "type": "select",
                        "label": "Target Google File Type",
                        "required": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 13,
            "module": "google-drive:copyAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 3552743
            },
            "mapper": {
                "copy": "drive",
                "file": "{{12.id}}",
                "name": "Factura procesada",
                "select": "list",
                "folderId": "/19CQUODVoxd1fNtf3gmx2GqHQ5I9zAMzY",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "copy": {
                            "label": "My Drive"
                        },
                        "file": {
                            "mode": "edit",
                            "path": []
                        },
                        "select": {
                            "label": "Select from the list"
                        },
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "make"
                            ]
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "07/10 (nacholeo005@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select the Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Copied File Name"
                    },
                    {
                        "name": "copy",
                        "type": "select",
                        "label": "Original File's Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "New Drive Location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "file",
                        "type": "file",
                        "label": "Original File ID",
                        "required": true
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Folder Location",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 14,
            "module": "google-docs:getADocument",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3054103
            },
            "mapper": {
                "filter": "drawing",
                "select": "map",
                "document": "{{13.id}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "filter": {
                            "label": "Drawing"
                        },
                        "select": {
                            "label": "By Mapping"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "nacholeo (nacholeo005@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Get Content of a Document",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "dropdown"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "select",
                        "label": "Filter",
                        "required": true,
                        "validate": {
                            "enum": [
                                "image",
                                "drawing",
                                "chart"
                            ]
                        }
                    },
                    {
                        "name": "document",
                        "type": "text",
                        "label": "Document ID",
                        "required": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 10,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3306766
            },
            "mapper": {
                "model": "gpt-4o-mini",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "system",
                        "content": "Eres un especialista en sacar información y detalles de documentos"
                    },
                    {
                        "role": "user",
                        "content": "# Instrucciones\n\nAnaliza la factura y escribe un mensaje ÚNICAMENTE con los siguientes datos en formato json:\n{\"Cliente\":\"El nombre del cliente\", \"Cantidad\":\"La cantidad total que ha pagado\", \"Fecha\": \"La fecha cuando se realizó la factura (Dia/Mes/Año\",\"Mes\":\"El mes de la factura (usa la abreviacion del ingles Jan, Feb,...)\",\"Tipo\":\" Existen 2 tipos Emitida o Recibida, si el cliente es Nicolás Cort Manubens es Recibida, si el cliente es otro es Emitida\" }.\n\n# Ejemplos\n\nA continuación te dejo algunos ejemplos de respuestas\n\n### Ejemplo1\n\n{\"Cliente\":\"Mariano SL\", \"Cantidad\":\"1.500,34\", \"Fecha\": \"24/7/2024\",\"Mes\":\"Jul\",\"Tipo\":\"Emitida\"}\n\n### Ejemplo 2\n\n{\"Cliente\":\"Nicolas Cort Manubes\", \"Cantidad\":\"300,12\", \"Fecha\": \"13/4/2024\",\"Mes\":\"Abr\",\"Tipo\":\"Recibida\"}\n\n# Documento\n\nSaca todos los datos del siguiente documento: \n{{14.text}}"
                    }
                ],
                "max_tokens": "0",
                "temperature": "0.2",
                "n_completions": "1",
                "response_format": "json_object",
                "parseJSONResponse": false
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o-mini (system)"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT Models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "JSON Object"
                        },
                        "parseJSONResponse": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "Recordatorios"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens",
                        "required": true
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": [
                                        {
                                            "label": "System",
                                            "value": "system"
                                        },
                                        {
                                            "label": "User",
                                            "value": "user"
                                        },
                                        {
                                            "label": "Assistant",
                                            "value": "assistant"
                                        }
                                    ],
                                    "required": true
                                },
                                {
                                    "name": "content",
                                    "type": "text",
                                    "label": "Message Content"
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "parseJSONResponse",
                        "type": "boolean",
                        "label": "Parse JSON Response",
                        "required": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 3,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {},
            "mapper": {
                "json": "{{10.result}}"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0
                },
                "restore": {},
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "Cantidad",
                        "value": "{{parseNumber(3.Cantidad; \",\")}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "Cantidad",
                        "type": "any",
                        "label": "Cantidad"
                    }
                ]
            }
        },
        {
            "id": 19,
            "module": "airtable:ActionUpdateRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 3059356
            },
            "mapper": {
                "id": "{{16.id}}",
                "base": "appg0talxeZaUwZyJ",
                "table": "tblP0XIBwOLwY0H4L",
                "record": {
                    "fldIfDDdid1ZZLD0v": "{{4.Cantidad}}",
                    "fldRXiPbmm1SOFd9S": "{{3.Fecha}}",
                    "fldVlP4LYdtGsA6tM": "{{3.Tipo}}",
                    "flde9zxUuDVKl6nVq": "{{3.Mes}}",
                    "fldf1IzAZBEDL49wz": "{{3.Cliente}}"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 2400,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "Facturas1"
                        },
                        "table": {
                            "label": "Table 1"
                        },
                        "record": {
                            "nested": {
                                "fldQhWAugVzEYCdJu": {
                                    "mode": "chose"
                                },
                                "fldVlP4LYdtGsA6tM": {
                                    "mode": "edit"
                                },
                                "flde9zxUuDVKl6nVq": {
                                    "mode": "edit"
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            },
                            "label": "ahora si (User ID: usrmHuf5xfnSU75z7)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldf1IzAZBEDL49wz",
                                "type": "text",
                                "label": "Cliente"
                            },
                            {
                                "name": "fldQhWAugVzEYCdJu",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "File URL"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "filename",
                                        "label": "File name"
                                    }
                                ],
                                "type": "array",
                                "label": "Factura"
                            },
                            {
                                "name": "fldIfDDdid1ZZLD0v",
                                "type": "number",
                                "label": "Cantidad"
                            },
                            {
                                "name": "fldRXiPbmm1SOFd9S",
                                "time": false,
                                "type": "date",
                                "label": "Fecha"
                            },
                            {
                                "mode": "edit",
                                "name": "flde9zxUuDVKl6nVq",
                                "type": "select",
                                "label": "Mes"
                            },
                            {
                                "mode": "edit",
                                "name": "fldVlP4LYdtGsA6tM",
                                "type": "select",
                                "label": "Tipo"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "ID",
                        "type": "number",
                        "label": "ID"
                    },
                    {
                        "name": "Cliente",
                        "type": "text",
                        "label": "Cliente",
                        "multiline": true
                    },
                    {
                        "name": "Factura",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Factura"
                    },
                    {
                        "name": "Cantidad",
                        "type": "number",
                        "label": "Cantidad"
                    },
                    {
                        "name": "Fecha",
                        "time": false,
                        "type": "date",
                        "label": "Fecha"
                    },
                    {
                        "name": "Mes",
                        "type": "text",
                        "label": "Mes"
                    },
                    {
                        "name": "Tipo",
                        "type": "text",
                        "label": "Tipo"
                    },
                    {
                        "name": "creado",
                        "type": "date",
                        "label": "creado"
                    },
                    {
                        "name": "fin",
                        "type": "date",
                        "label": "fin"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}